@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1>MailSender</h1>
    <p class="lead">这是一个简单的邮件发送工具，用于演示利用QBWI、Hangfire和Azure WebJobs来在后台发送邮件。</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">获取源代码 &raquo;</a></p>
</div>
